
.wrap {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  font-family: $font3;
  &_header {
    width: 100%;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $theme;
    color: $light;
    z-index: 99;
  }
  &_home {
    background-color: transparent;
    color: $bg;
  }
  &_logo {
    max-width: 10rem;
  }
  &_shadow {
    box-shadow: 0 0 6rem rgba($dark, 0.27);
  }
  &_submenu {
    position: absolute;
    min-width: 16rem;
    background: $light;
    z-index: 1;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);;
    padding: 1rem 0;
    left: 0;
    border-radius: 0.8rem;
    list-style-type: none;
    top:3rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out;
  }
  &_parent {
    position: relative;
    padding: 0.5rem 0.5rem 0;
  }
  &_parent > &_active {
    &::after {
      bottom: -0.25rem;
    }
  }
  &_parent:hover &_submenu {
    opacity: 1;
    height: initial;
  }
  &_item {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    // font-weight: 700;
    font-size: 0.9rem;
    @media screen and (min-width: 769px) {
      margin: 0 1.5rem;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &_subitem {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    display: block;
    text-align: left;
    &::after {
      display: none !important;
    }
  }
  &_icon {
    width: 0.8rem;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  &_active {
    opacity: 0.75;
  }
  &_top {
    display: grid;
    grid-template-columns: 11rem 1fr;
    grid-gap: 1rem;
  }
  &_search {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    @media screen and (min-width: 769px) {
      justify-content: flex-end;
    }
  }
  &_toggle {
    display: none;
  }
  &_scroll {
    @media screen and (min-width: 769px) {
      transform: translateY(-10rem);
      transition: transform 1.5s $ease;
      will-change: transform;
    }
  }
  
  &_fixed {
    @media screen and (min-width: 769px) {
      position: fixed !important;
      z-index: 101;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(0);
      background-color: $light;
    }
  }
}

.footer {
  background: rgba($theme, 0.1);
  color: $bg;
  padding: 1rem 0;
  a {
    font-size: 300;
    text-decoration: none;
  }
  &_item {
    text-decoration: none;
    transition: opacity 0.3s ease-out;
    padding: 0.5rem;
    text-transform: uppercase;
    &:hover {
      opacity: 0.75;
    }
  }
  &_inner {
    display: flex;
    flex-flow: column;
  }
  &_logo {
    width: 10rem;
  }
  &_row {
    display: flex;
    width: 100%;
    padding: 1.5rem;
  }
  &_lower {
    border-top: 0.5px solid rgba($bg, 0.5);
    align-items: center;
    justify-content: space-between;
  }
  &_icon {
    &s{
      justify-content: center;
      padding-bottom: 2.5rem
    }
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: $bg;
    border-radius: 50%;
    transition: opacity 0.3s $ease;
    margin: 0 0.25rem;
    &:hover {
      opacity: 0.6;
    }
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}

.video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: $theme;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.date {
  font-size: 0.9rem;
}
.excerpt {
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  text-align: center;
  cursor: pointer;
  
  a {
    text-decoration: none;
  }
  &_thumbnail {
    display: grid;
    min-height: 15rem;
    background-size: cover;
    background-position: 50% 50%;
  }
  &_body {
    padding: 1rem;
    opacity: 0.8;
  }
  &_link {
    color: #000;
    font-weight: 700;
  }
  &_meta {
    opacity: 0.6;
  }
  
  &_image {
    background-color: $theme;
    background-position: center;
    background-size: cover;
    min-height: 15rem;
  }
  &_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.33rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: initial;
      }
    }
  }
  .tag {
    display: none;
  }
}


.pagination {
  list-style-type: none;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
}

.page {
  &-item {
    margin: 0.33rem;
    border-radius: 0.1rem;
    color: $bg;
    padding: 0 !important;
    &.active {
      background: $bg;
      color: $light;
    }
    &.disabled {
      display: none;
    }
    &:first-child, &:last-child {
      color: transparent;
      background-image: url(/images/arrow-right.svg);
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:first-child {
      transform-origin: 50% 50%;
      transform: rotate(180deg);
    }
  }
  &-link {
    height: 2rem;
    width: 2rem;
    display: inline-grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
} 

.meta {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  a {
    text-decoration: none;
  }
  span {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &_author {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0 !important;
    a {
      text-decoration: none;
      color: inherit;
    }
    + p {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &_title {
    opacity: 0.5;
    text-transform: uppercase;
  }
  &_bio {
    @media screen and (max-width: 667px) {
      grid-column: 1/-1;
    }
  }
}

.avatar {
  width: 3rem;
  overflow: hidden;
  display: inline-block;
  img {
    width: 100%;
    border-radius: 50%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
// hide avatars on home page
.home {
  .avatar {
    display: none
  }
}

.button {
  background-color: $bg;
  color: $light;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  width: 12rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 2.25rem rgba($theme,.05);
  &_light {
    background-color: $theme;
  }
}

.hero {
  background-size: cover;
  position: absolute;
  display: grid;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/header-1.jpg);
  background-position: top right;
  transform-origin: 50% 50%;
  transition: transform 10s $ease;
  // &_move {
    //   transform: scale(1.25);
    // }
    .wrap {
      width: 100%;
    }
    &_wrap {
      height: 64vh;
      max-height: 30rem;
      position: relative;
      overflow: hidden;
      perspective: 700px;
    }
    &_banner {
      font-weight: 700;
      font-size: 2.5rem;
      color: $bg;
      .button {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 992px) {
        font-size: 2.25rem;
      }
      @media screen and (max-width: 667px) {
        font-size: 1.75rem;
      }
    }
  }
  
  .contents {
    h2, h3, h4 {
      padding: 2rem 0;
    }
    figure, img {
      display:block;
    }
    figure, img {
      margin: 1.5rem 0;
      width: 100%;
    }
    figure, figcaption {
      transform-origin: 50% 50%;
    }
    figure{
      @media screen and (min-width: 1024px) {
        transform: scale(1.1);
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
    figcaption {
      @media screen and (min-width: 1024px) {
        transform: scaleX(0.9);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  
  .tag {
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    background-color: $haze;
    text-decoration: none;
    font-size: 0.9rem !important;
    text-transform: capitalize;
    &:hover {
      background-color: $bg;
      color: $light;
    }
    &s {
      text-align: center;
    } 
  }
  
  
  $sites:  "github", "twitter", "linkedin", "youtube", "slack";
  
  @each $site in $sites {
    .#{$site} {
      &::after {
        background-image: url(/images/#{$site}.svg);
      }
    }
  }
  
  .aside {
    // background-color: ;
    &_widget {
      position: sticky;
      top: 7rem;
    }
    .tags {
      text-align: left;
    }
  }
  
  .course {
    text-align: center;
    background-color: $bg;
    background-image: url(/images/website-background.svg);
    background-size: cover;
    padding: 2.5rem 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    h3 {
      font-size: 1.5rem;
    }
    * {
      color: $light;
    }
    img {
      max-width: 12.5rem;
    }
    a {
      display: block;
      margin: 1rem 0.5rem;
      background: $bg;
      text-decoration: none;
      padding: 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  
  .page {
    &_banner {
      min-height: 72vh;
      max-height: 640px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-size: cover;
      padding: 1.5rem;
      p{
        font-size: 1.25rem;
        color: $light;
        text-align: center;
      }
      @media screen and (max-width: 667px) {
        min-height: 40vh;
      }
      &.short {
        min-height: 36vh;
        max-height: 480px;
      }
      &, * {
        position: relative;
        color: $light;
      }
      * {
        z-index: 2;
      }
      p {
        padding: 0.25rem 0;
        font-weight: 400;
        max-width: 40rem;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.6);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  
  .form {
    display: grid;
    // convertkit form
    &kit-fields {
      max-width: 30rem;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &kit-powered-by {
      display: none !important;
    }
    // end styles for convertkit form
    &_field {
      padding: 1rem 1.5rem;
      margin: 0.75rem 0;
      background-color: rgba($blue, 0.16);
      border: none;
      font-size: 1rem;
    }
    &_button {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      background: $bg;
      color: $light;
      font-weight: 700;
      width: 100%;
      max-width: 12.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      border: none;
      margin-top: 1.5rem;
      cursor: pointer;
      
    }
  }
  
.banner {
  form {
    width: 100%;
    max-width: 100vw !important;
    margin-bottom: -3rem;
    margin-top: 3rem;
  }
}
