@font-face {
  font-family: "HKGrotesk-Bold";

  src: url("/fonts/HKGrotesk-Bold.woff") format("woff"), // Modern Browsers 
    url("/fonts/HKGrotesk-Bold.woff2") format("woff2"); // Modern Browsers 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas-Regular";

  src: url("/fonts/Bebas-Regular.woff") format("woff"), // Modern Browsers 
    url("/fonts/Bebas-Regular.woff2") format("woff2"); // Modern Browsers 
  font-weight: normal;
  font-style: normal;
}
