{{- define "main" }}
<div class = 'page_banner' style = 'background-image:url(/images/{{ .Params.image }})'>
  <h1>{{ upper .Title }}</h1>
  <p>{{ markdownify .Params.description }}</p>
</div>
<div class = 'grid-reverse wrap pt_2'>
  <section>
    <div class = 'grid-2'>
      {{- $pages := $.Site.RegularPages }}
      {{- $nonDrafts := where $pages "Params.index" "!=" "false" }}
      {{- $nonFuturePosts := where $pages "Date" "<=" "now" }}
      {{ $paginator := .Paginate (uniq ( union $nonDrafts $nonFuturePosts)) }}
      {{- range $paginator.Pages }}
      {{ partial "excerpt.html" . }}
      {{- end }}
    </div>
    {{- template "_internal/pagination.html" . }}
  </section>
  <aside class = 'aside'>
    {{- partial "sidebar" . }}
  </aside>
</div>
{{- end }}
